<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1067066257619-0ckmqg40rkhc3lvk9tq8r2q6t7em61e0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1067066257619-0ckmqg40rkhc3lvk9tq8r2q6t7em61e0</string>
	<key>API_KEY</key>
	<string>AIzaSyAoEUYqr5FwVWo8rtaYaKbwtGwAVkC__F4</string>
	<key>GCM_SENDER_ID</key>
	<string>1067066257619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tasktrees.app</string>
	<key>PROJECT_ID</key>
	<string>tasktree-s</string>
	<key>STORAGE_BUCKET</key>
	<string>tasktree-s.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067066257619:ios:3c64a80517c928e4686426</string>
	<key>DATABASE_URL</key>
	<string>https://tasktree-s-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>